
<!-- Start page header -->
	<section id="page-head">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">		
					<h2>Nous Contacter</h2>
					<p>
					Nous serons plus que ravis de repondre a toute vos preocupations alors n'hesitez pas a nous laisser un message. nous reviendrons vers vous au plus vite. 
					<!-- Vous desirez
					 <button type="button" class="btn btn-dark btn-lg">Recruter</button> ou 
					 
					 <%= link_to "Vous enregistrer comme candidat", new_candidate_request_path, class: 'btn btn-dark btn-lg ' %> -->
					</p>
				</div>
			</div>
		</div>	
	</section>
	<!-- End page header -->
	
	<!-- Start contain -->
	<section id="top" class="contain clearfix">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">	
						<h4 class="heading"><span>Ecrivez Nous</span><span class="left"></span></h4>
						<form id="contactform" >
													
							<ul class="listForm">
								<li>
									<label>Votre Nom<span>&#40; Requis &#41;</span></label>
									<input class="form-control" type="text" name="name" required placeholder="Ex: Bryce Jobs" />									
									<div class="validation"></div>
								</li>
								<li>
									<label>Votre email<span>&#40; Requis &#41;</span></label>
									<input class="form-control" type="email" name="email" required placeholder="Ex: handler@yourdomain.com" />										
									<div class="validation"></div>
								</li>
								<li>
									<label>Sujet</label>
									<input class="form-control" type="text" name="suject" required placeholder="Ex: Besoin d'orientation" />									
									<div class="validation"></div>
								</li>
								<li>
									<label>Message<span>&#40; Requis &#41;</span></label>
									<textarea class="form-control" rows="9" name="message" required placeholder="Laissez nous un message"></textarea>												
									<div class="validation"></div>
								</li>
								<li>
									<input type="submit" value="Envoyer message" class="btn btn-lg btn-red" name="Submit" />
								</li>
							</ul>
						</form>
				</div>
				<div class="col-lg-4">
					<div class="contact-box">
						<p>
						<label>Address :</label>
						Derriere Pharmacie Blue, Hopital General, Yde
						</p>
						<p>
						<label>Phone :</label>
						683-867-665 ou 694-840-049
						</p>	
						<p>
						<label>Email :</label>
						lecebri@gmail.com ou  inbox@nannya.com 
						</p>						
					</div>
				</div>
			</div>		
		</div>
	</section>
	<!-- End contain -->


	 <section id="bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 aligncenter">
						<h4>Vous avez en nous un partenaire de confiance</h4>
						<p>
						Nous saurons vous fournir le profil que vous recherchez dans de bref delais alors... 
						</p>	
						<p><a href="#" class="btn btn-lg btn-red">Exprimer votre Besoin</a><p>
					</div>
				</div>
			</div>				
		</section>