<section id="page-head">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">		
				<h2>Rejoignez Nous</h2>
				<p>
				Nous sommes perpetuellement a la recherche de femmes(filles) dynamique dans l'optique d'agrandir notre reseaux. Alors nous sommes honores que vous souhaitiez devenir membre de notre grande famille, Merci nous reviendrons vers vous.
				</p>
			</div>
		</div>
	</div>	
</section>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="alert alert-success">
			<strong>Enregistrement Recu</strong><br />
			Votre offre a ete enregistree avec success. Apres validation par un administrateur nous vous contacterons et votre offre sera publiee sur notre page. Merci de continuer a nous faire confiance
		</div>	
	</div>
</div>

<br>
<br>

<div class="container">
	<div class="row text-center">
		<div class="btn btn-lg btn-dark ">Voir la liste de job</div> ou
		<%= link_to "Retourner a l'accueil", root_path, class: "btn btn-lg btn-dark" %>
	</div>
</div>

<br>
<br>