// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron{
	position:relative;
	background: #000 image-url("jumbotron/jumbotron.jpeg") center center;
	/*width: 100%;*/
	height: 450px;
	background-size: cover;
	overflow: hidden;
	text-align:center;
	color:#fff !important;
	font-size:22px;
	line-height:32px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-sm-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-sm-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.lightgray-bg{
	float:left;
	width:100%;
	padding:40px 0 90px 0;
	background:#F1F1F1;
	margin-top: 100px; 
	h2.heading{
		background-color: #F1F1F1 !important;
	}
}

.lightgray-bg-no-margin{
  float:left;
  width:100%;
  padding:40px 0 90px 0;
  background:#F1F1F1;
  h2.heading{
    background-color: #F1F1F1 !important;
  }
}

.feat .featurette-image{
  padding-top: 50px;
}
.text-white{
  color: white;
}

i.text-white{
  color: white !important;
  padding-right:20px;
  font-size: 22px;

}

.featurette-image{
  vertical-align: middle;
  margin-top: 30px;
  text-align: center;
}


.featurette{
  text-align: center;

  .lead{
    text-align: justify;
  }
}

p.no-jobs{
  font-size: 3.5em;
  text-align: center;
  min-height: 250px;
  padding-top: 100px;
}

hr{
  border: 2px solid lightgrey !important;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


@media (max-width: 768px) {

  body{
    margin-top: 85px !important;
  }

  .featurette-heading {
    font-size: 25px;
  }

  #bottom h4{
    font-size: 25px !important;
    line-height: 30px !important;
  }

 .feat .featurette-image{
    padding-top: 50px;
  }

  .featurette .lead{
    padding: 5px 10px;
  }

  #page-head{
  
    p{
      font-size: 18px;
    }

    h2{
      font-size: 30px;
    }  
  }

  .social-wrapper{
    float:right !important;
    margin:0 !important;
    padding:0 !important;
  }

  .social-wrapper .social-icon{
    margin-left:2px !important;
    font-size:14px !important;
    color:#fff;
    text-decoration:none;
  }

}


/*-------------typed css-----------------*/

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}


.job{
  background-color: rgba(0,0,0,.5);
  padding: 0 20px;
  margin: 20px 0;
}

h1.info{
  font-size: 50px;
  line-height: 85px;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0,0,0,.5);

}

h1.info-small{
  margin-top: 40px !important;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0,0,0,.5);


}